/* start Global rules */
    *{
        box-sizing: border-box;
    }
    body{
        font-family: 'Work Sans', sans-serif;
        overflow-x: hidden;
    }
    html{
        scroll-behavior: smooth;
    }
/* end global rules */
/* start variables */
    :root{
        --color: #10cab7;
    }
/* end variables */
/* start container */
    .parent{
        background-color: #eee;
    }
    .container{
        padding-left: 20px;
        padding-right: 20px;
        margin-right: auto;
        margin-left: auto;
    }
/* end container */
/* start nav bar */
    nav{
        background-color: white;
    }
    nav .container{
        display: flex;
        justify-content: space-between;
    }
    .logo{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 60px;
        height: 64px;
    }
    .icon-links::before{
        content: "";
        height: 1.5px;
        width: 25px;
        background-color: black;
        position: absolute;
        top: -6px;
    }
    .icon-links{
        height: 1.5px;
        width: 15px;
        background-color: black;
        position: relative;
        display: flex;
        justify-content: flex-end;
        margin-top: 32px;
        transition-duration: 0.5s;
        margin-right: 0px;
    }
    .icon-links::after{
        content: "";
        height: 1.5px;
        width: 25px;
        background-color: black;
        position: absolute;
        bottom: -6px;
    }
    .links:hover .icon-links{
        width: 25px;
    }
    ul{
        height: fit-content;
        margin-left: -235px;
        position: relative;
        margin-top: 20px;
        z-index: 3;
    }
    li{
        background-color: #eee;
        list-style: none;
        padding: 15px;
        margin-top: 10px;
        width: 220px;
        height: 50px;
        position: absolute;
        display: none;
    }
    li a{
        text-decoration: none;
        color: black;
        font-weight: 600;
        padding-right: 200px;
    }
    .services-nav-li::before{
        content: "";
        background-color: white;
        border-width: 10px;
        border-color: transparent transparent #eee transparent;
        border-style: solid;
        position: absolute;
        right: 5px;
        top: -20px;
    }
    .Portfolio-nav-li{
        top: 51px;
    }
    .About-nav-li{
        top: 102px;
    }
    .Contact-nav-li{
        top: 153px;
    }
    .links:hover li{
        display: block;
    }
    .links li:hover{
        padding-left: 25px;
        transition-duration: 0.3s;
    }
/* end nav bar */
/* start landing section */
    header{
        background-image: url(../images/landing.jpg);
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: calc(100vh - 64px);
}
    .intro{
        color: var(--color);
        margin-top: 0px;
        padding-top: 20px;
        font-weight: 900;
    }
    .description{
        width: 250px;
    }
/* end landing section */
/* start features */
section{
    background-color: white;
}
    section .container{
        display: grid;
        justify-content: space-between;
        padding-bottom: 100px;
        gap: 20px;
    }
    .features-1,
    .features-2,
    .features-3{
        text-align: center;
        padding-top: 100px;
    }
    .feat-1,
    .feat-2,
    .feat-3{
        color: var(--color);
        height: 64px;
        width: 120px;
        margin-left: 80px;
        margin-right: 80px;
        padding-bottom: 15px;
    }
    .feattures-hed-1,
    .feattures-hed-2,
    .feattures-hed-3{
        padding-bottom: 15px;
    }
    .feattures-child-1,
    .feattures-child-2,
    .feattures-child-3{
        line-height: 30px;
    }
/* end features */
/* start services section */
    .Services-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .Services .Services-1 .paragraph{
        font-size: 90px;
        margin: 0px;
        opacity: 0.2;
    }
    .Services .Services-1 .desc{
        margin-top: -25px;
    }
    .child-1-services-2,
    .child-2-services-2,
    .child-1-services-3,
    .child-2-services-3{
        width: 360px;
        position: relative;
    }
    .info{
        margin-left: 80px;
    }
    .Services img{
        width: 72.5px;
        height: 32px;
        position: absolute;
    }
    .Services-4{
        display: none;
    }
/* end services section */
/* start portfolio */
    article .content {
        display: grid;
        padding-bottom: 20px;
        justify-content: center;
    }
    article {
        background-color: white;
    }
    .one,
    .two,
    .three {
        margin-left: 10px;
        margin-right: 10px;
        background-color: #eee;
        margin-bottom: 20px;
    }
    .heder-one,
    .heder-two,
    .heder-three,
    .about-one,
    .about-two,
    .about-three{
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .heder-one,
    .heder-two,
    .heder-three{
        padding-bottom: 0;
    }
    .portfolio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-top: 50px;
        margin-bottom: 50px;
    }
    .portfolio .heder-portfolio {
        font-size: 90px;
        margin: 0px;
        opacity: 0.2;
    }
    .content-portfolio {
        margin-top: -25px;
    }
    article img {
        width: 320px;
        height: 220px;
    }
/* end portfolio */
/* start about */
    .inside{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 70px;
    }
    .inside hr{
        margin-top: 60px;
        margin-bottom: 35px;
        border: none;
        height: 2px;
        width: 300px;
        background-color: rgb(0, 192, 192);
    }
    .text{
        position: relative;
    }
    .about img {
        width: 250px;
        height: 375px;
    }
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-top: 50px;
        margin-bottom: 50px;
    }
    .header h2{
        font-size: 90px;
        margin: 0px;
        opacity: 0.2;
    }
    .header p{
        margin-top: -25px;
    }
/* end about */
/* start contact */
    .hedear-contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-top: 50px;
        margin-bottom: 50px;
    }
    .contact-hedear-header{
        font-size: 90px;
        margin: 0px;
        opacity: 0.2;
    }
    .contact-header-info{
        margin-top: -25px;
    }
    .contact-info{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .contact-info .p-1{
        color: rgb(44, 71, 85);
        font-size: 25px;
        font-weight: 900;
    }
    .contact-info .p-2 {
        font-weight: 900;
        font-size: 25px;
        color: var(--color);
        cursor: pointer;
    }
    .contact-info p{
        margin: 0px;
        padding: 10px;
    }
    .social{
        display: flex;
        align-items: center;
    }
    .social i {
        margin-right: 10px;
    }
/* end contact */
/* start footer */
    footer{
        margin-top: 100px;
        padding: 25px;
        background-color: #2c4755;
        color: white;
        text-align: center;
        font-size: larger;
        font-weight: 600;
    }
    footer span{
        color: var(--color);
    }
/* end footer */