/* start header */
    /* start nav bar */
        .fa-bars{
            color: white;
            position: absolute;
            right: 56px;
            top: -45px;
            padding-right: 25px;
        }
        nav ul:hover li{
            display: block;
        }
        ul i{
            display: block;
            position: absolute;
            top: -55px;
            right: 20px;
        }
        header hr{
            margin-top: 10px;
        }
        ul{
            padding: 0px;
            position: absolute;
            left: 0px;
            right: 0px;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.5);
        }
        .kl{
            color: var(--color);
        }
        nav ul .kl::before{
            content: "";
            height: 2px;
            width: calc(100% + 40px);
            position: absolute;
            margin-bottom: 10px;
            bottom: -10px;
            left: -20px;
            background-color: var(--color);
        }
        ul li{
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            display: none;
        }
        ul li:nth-child(2){
            padding-top: 15px;
        }
    /* end nav bar */
    .landing i{
        display: none;
    }
    .landing-parag{
        width: 100%;
    }
/* end header */